@import '../../Global.scss';

.wrapper{
  @media(max-width:$sm),(max-width:$md){
    display: flex;
    height: 20vh;
    *{
      margin-top: -30px;
      .footerText{
        display: none;
      }
      a{
        display: none;
      }
    }
    .footerHeader{
      display: flex;
      align-items: center;
      >img{
        margin-bottom: -30px;
      }

  
    }
  }
  *{
    background-color: darkblue;
    color: #fff;
  }
  background-color: darkblue;
  // border: 1px solid violet;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
 
  >:nth-child(1){
   max-width: 25%; 
  }
  .card{

    display: flex;
    flex-direction: column;

  }
  .footerHeader{
    display: flex;
    align-items: center;


  }
}